web/wsdl/UsersFinder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://axis.appform.cnio.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://axis.appform.cnio.org" xmlns:intf="http://axis.appform.cnio.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://axis.appform.cnio.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType/>
   </element>
   <element name="getId">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="UsersFinder">

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest"/>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest"/>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UsersFinderSoapBinding" type="impl:UsersFinder">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UsersFinderService">

      <wsdl:port binding="impl:UsersFinderSoapBinding" name="UsersFinder">

         <wsdlsoap:address location="http://localhost:8080/appform/services/UsersFinder"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
